<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Sent-Max on Heroku</h1>
    <p>This is a sample Node/Sent-Max application deployed to Heroku. </p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.dev.twilio.com/login/oauth?clientName=SentMaxs&clientID=f0e03b30-%20-4938-9b3f-5cfe9f94e10b"><span class="glyphicon glyphicon-flash"></span>Connect with Twilio</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>
